# 数据库连接（必填）
DB_NAME=sdzg
DB_USER=
DB_PASSWORD=
DB_HOST=10.149.235.123
DB_PORT=5432

# SUMO 定位（可选，以下二选一或都不设置，确保 sumo 在 PATH 中）
# SUMO_HOME=C:\Program Files (x86)\Eclipse\Sumo
# SUMO_BIN=C:\Program Files (x86)\Eclipse\Sumo\bin\sumo.exe


